@tailwind base;
@tailwind components;
@tailwind utilities;

.text-light {
  color: rgba(0, 0, 0, 0.72);
}

.text-semi-light {
  color: rgba(0, 0, 0, 0.88);
}

.flag {
  display: inline-block;
  margin-x: 8px;
  font-size: 13px;
  padding: 4px 8px;
  color: #00d970;
  background: #dbffee;
  border-radius: 4px;
}
